doctype html

html
  head
    link(rel='stylesheet' href='//code.cdn.mozilla.net/fonts/fira.css')
    link(rel='stylesheet' href="styles/main.css")
    title Chameleon
  body
    header
      h1.fadeInMed#hero project chameleon
      h6.fadeInSlow back soon
    script(type="text/javascript" src="//localhost:35729/livereload.js")
    script(data-main="scripts/main" src="scripts/vendor/requirejs/require.js")

